body {
  background: black;
  color: red;
  text-align: center;
  font-family: Arial;
}

.logo-box {
  margin-top: 20px;
  padding: 20px;
  background: rgba(255,0,0,0.05);
  border-radius: 20px;
  box-shadow: 0 0 30px red;
}

.logo {
  width: 120px;
  filter: drop-shadow(0 0 10px red);
}

.member {
  border: 1px solid red;
  margin: 10px;
  padding: 10px;
}
